.o_kanban_view.o_kanban_ungrouped.oom_artist_kanban {

    .o_kanban_record {
        flex: 1 1 150px;
    }

    .oom_artist_kanban_main {

        div.oom_artist_kanban_image {
            margin-left: auto;
            margin-right: auto;
            width: 128px;
            > img {
                width: 100%;
            }
        }

        .oom_artist_kanban_name {
            text-align: center;
        }
    }
}
