.jp-jplayer {
  width: 1px !important;
  height: 1px !important;
}
.o_oomusic {
    height: 90px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #F0EEEE;
    z-index: 100;
    box-shadow: 2px 2px 3px rgba(0,0,0,.4), 0px 0px 5px rgba(0,0,0,.8);
}
.o_albumart {
  background-color: #F0EEEE;
  float: left;
  width: 90px;
  height: 90px;
  left: 0px;
}
.jp-controls {
  position: absolute;
  padding: 0;
}
.jp-control-buttons {
  position: absolute;
  left: 50%;
  width: 240px;
  margin-left: -120px;
  bottom: 42px;
}
.jp-time-holder {
  margin-top: -18px;
}
.jp-title {
  text-align: center;
}
.jp-current-time {
  float: left;
  margin-left: 5px;
}
.jp-duration {
  float: right;
  margin-right: 5px;
}
.jp-toggles {
  list-style-type: none;
  padding: 0;
  position: absolute;
  bottom: 4px;
  left: 50%;
  margin-left: 145px;
}
.jp-toggles li {
  display: inline-block;
}
.jp-controls li {
  display: inline;
}
.jp-volume-toggles {
  list-style: none outside none;
  position: absolute;
  left: 180px;
  padding: 0;
}
.jp-volume-bar {
  height: 6px !important;
  position: absolute;
  width: 60px;
  top: 28px;
}
.jp-volume-toggles li {
  display: inline;
}
